*{
  margin: 0 auto 0 auto;
  text-align: justify;
  }
body{
  font-family: 'Source Sans Pro', 'Lato', sans-serif;
  /*
  Fontes para usar na página web
  font-family: 'Lato', 'Dosis', 'Source Sans Pro', 'Work Sans', 'Hind Siliguri';
  */
}
#container{
  width: 960px;
}
header{
  width: 960px;
  height: 85px;
  margin-top: 5px;
}
header img{
  float: left;
  width: 10%;
}
header h2{
  float: right;
  color: #D74D00;
  padding: 40px 20px 0 0;
}
#menu{
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  float: left;
  clear: both;
  width: 960px;
  height: 54px;
  background-color: #1B5C18;
}
#menu ul{
  list-style: none;
  padding: 0;
  padding-top: 18px;
  margin-left: auto;
  width: 960px;
}
#menu li{
  list-style: none;
  padding: 0;
  display: inline;
}
#menu li a,#menu li a:visited{
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0 55px 0 55px;
}
.session{
    clear:both;
    display: block;
    background-color: rgba(48, 61, 47, 0.44);
    width: 800px;
    height: 385px;
    border-radius: 10px;
}
.session p {
  font-family: 'Lato', 'Dosis', 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 150px 10px 0 40px;
  }
.imgdev{
  float: right;
  margin: 15px;
  width: 100%;
  padding: 90px 10px 0 20px;
  }

  .session h5{
    font-family: 'Dosis', 'Source Sans Pro', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    }
  .session h6{
    font-family: 'Dosis', 'Source Sans Pro', sans-serif;
    color: #ffffff;
    text-align: center;
  }
  .treinamentos{
    display: block;
    clear:both;
    width: 800px;
    margin-top: 15px;
    background: #ffffff;
    border-radius: 10px;
    border: 6px solid #1B5C18;
    padding: 15px;

  }
  .treinamentos h2{
    text-align: center;
    font-family: 'Dosis', 'Source Sans Pro', sans-serif;
    color: #D74D00;
  }
  .treino{
    width: 170px;
    float: right;
    color: #1B5C18;
    text-align: center;
  }
  .treino img {
    width: 50%;
  }


footer{
  text-align: center;
  color: #ffffff;
  background-color:#000000;
  margin: 20px;
  padding: 5px 0 5px 0;
}
