*{
  margin: 0 auto 0 auto;
  text-align: justify;
  }
body{
  font-family: 'Source Sans Pro', 'Lato', sans-serif;
  /*
  Fontes para usar na página web
  font-family: 'Lato', 'Dosis', 'Source Sans Pro', 'Work Sans', 'Hind Siliguri';
  */
}
#container{
  width: 960px;
}
header{
  width: 960px;
  height: 85px;
  margin-top: 5px;
}
header img{
  float: left;
  width: 10%;
}
header h2{
  float: right;
  color: #D74D00;
  padding: 40px 20px 0 0;
}
#menu{
  margin-top: 5px;
  display: block;
  float: left;
  clear: both;
  width: 960px;
  height: 54px;
  background-color: #1B5C18;
}
#menu ul{
  list-style: none;
  padding: 0;
  padding-top: 18px;
  margin-left: auto;
  width: 960px;
}
#menu li{
  list-style: none;
  padding: 0;
  display: inline;
}
#menu li a,#menu li a:visited{
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0 62px 0 62px;
}
footer{
  text-align: center;
  color: #ffffff;
  background-color:#000000;
  margin: 20px;
  padding: 5px 0 5px 0;
}
